.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-g {
  margin: 0 auto;
  text-align: center;
}

.chart {
  display: none;
}

.dropdown {
  margin-bottom: 20px;
}

.intro {
	margin: 0 auto;
	text-align: center;
}

.checkmenu {
  left: 50%;
  margin-left: -125px;
  position: absolute;
  width: 800px;
  margin-top: 5%;
}